#container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px; 
}

#botao {
    margin-left: 10px;
}

.cliente-header {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#form {
    margin: 20px;
}